<div class="address-list">
    {{#addresses}}
    <div class="address-item" data-id="{{}}">
        
        {{street}}, {{number}} - {{district}} - {{province}} <br>
        {{coutry}} - {{zipcode}}

    </div>
    {{/addresses}}
</div>
