<form id="place-table-form" class="form-horizontal" role="form">
  <table id="place-table" class="place-table table table-striped table-bordered">
    <thead> 
    <tr>
        <th>id</th>
        <th>name</th>
        <th>street</th>
        <th>number</th>
        <th>district</th>
        <th>city</th>
        <th>zipcode</th>
        <th>actions</th>
        <th>
          <input id="check-all" type="checkbox" name="all">
        <th>
        <th>
          <a href="#" id="delete-many" class="delete-many-button btn btn-info btn-xs"><i class="fa fa-trash"></i></a>
        <th>
    </tr>
  </thead>
  <tbody>

      {{#result}}
      <tr id="table-row-{{id}}" data-id="{{id}}">
        <td class="table-place_id">
          {{id}}
        </td>
        
        <td class="table-place_name">
          {{name}}
        </td>
        
        <td class="table-place_address">
          {{address.street}}
        </td>

        <td class="table-place_address">
          {{address.number}}
        </td>

        <td class="table-place_district">
          {{address.district.name}}
        </td>

        <td class="table-place_city">
          {{address.city.name}}
        </td>

        <td class="table-place_zipcode">
          {{address.zipcode}}
        </td>

        <td class="table-place_actions">
          <a href="#/show/{{id}}" id="table-show-button-{{id}}" data-id="{{id}}" class="table-show-button btn btn-default btn-xs"><i class="fa fa-eye"></i></a>
          <a href="#/edit/{{id}}" id="table-edit-button-{{id}}" data-id="{{id}}" class="table-edit-button btn btn-default btn-xs"><i class="fa fa-pencil"></i></a>
          <a href="#/delete/{{id}}" id="table-delete-button-{{id}}" data-id="{{id}}" class="table-delete-button btn btn-default btn-xs"><i class="fa fa-trash"></i></a>
        </td>

        <td class="table-check" colspan="1">
          <input id="table-place-{{id}}" name="table-place-{{id}}" type="checkbox">
        </td>
        
      </tr>
      {{/result}}

    </tbody>
  </table>
</form>
